<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
	    <ul>
		    <li><a href="{{ site.url }}/" title="Home"><i class="icon-bug"></i> Off by One</a></li>
			<li><a href="/language/">Language</a></li>
			<li><a href="/culture/">Culture</a></li>
			<li><a href="/about/">About</a></li>
	        <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i></a></li>
	        {% if site.search %}<li class="dosearch"><i class="icon-search"></i> Search</li>{% endif %}
	    </ul>
	</nav>
</div>

{% include browser-upgrade.html %}

{% if site.search %}<div class="search-wrapper">
	<div class="search-form">
		<input type="text" class="search-field" placeholder="Search...">
		<i class="icon-remove-sign icon-2x"></i>
		<ul class="search-results post-list"></ul><!-- /.search-results -->
	</div><!-- /.search-form -->
</div><!-- ./search-wrapper -->{% endif %}

