<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

		<!--iPhone specific-->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<link href="images/icon.png" rel="apple-touch-icon" /> 

		<link type="text/css" rel="stylesheet" media="screen" href="/css/baseline.css">
		<link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/css/baseline-iphone.css">

		<script type="text/javascript" src="//use.typekit.net/hny4mlx.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<link type="text/css" rel="stylesheet" media="screen" href="/css/text.css">

		<!--<script type="text/javascript" src="scripts/html5.js"></script>-->
		<style>
		
		</style>
    </head>
    <body>

		<body class="page-grid">
			<div id="page">
				<div class="full layout-grid">
					<header class="column width4">
						
					</header>

                {{ content }}

            	<footer class="full">
					<p><small>&copy; maetl 2013</p>
				</footer>

    </body>
</html>
